version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: source
    ports:
      - "5433:5432"
    volumes:
      - ./init/source.sql:/docker-entrypoint-initdb.d/source.sql:ro
      - pg_data:/var/lib/postgresql/data

  mysql:
    image: mysql:8
    container_name: mysql_db
    environment:
      MYSQL_ROOT_PASSWORD: root   
      MYSQL_DATABASE: destination_db          
      
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      retries: 5
      start_period: 10s      

  airflow:
    image: apache/airflow:2.9.0
    container_name: airflow
    depends_on:
      - postgres
      - mysql
    environment:
      - AIRFLOW__CORE__EXECUTOR=SequentialExecutor
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=sqlite:////opt/airflow/airflow.db
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./airflow/requirements.txt:/requirements.txt
    command: bash -c "pip install -r /requirements.txt && airflow standalone"
    
    ports:
      - "8081:8080"

volumes:
  pg_data:
  mysql_data:
